$white-color: #ffffff;
// 按钮--橙色
$orange-color: #fa541c;
$orange-color-hover: #ff7a45;
$orange-color-active: #d48806;
// 按钮--绿色
$green-color: #52c41a;
$green-color-hover: #73d13d;
$green-color-active: #389e0d;
// 按钮--天蓝色
$cyan-color: #13c2c2;
$cyan-color-hover: #36cfc9;
$cyan-color-active: #08979c;
// 按钮--紫色
$purple-color: #722ed1;
$purple-color-hover: #9254de;
$purple-color-active: #531dab;
